# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin
out/
classes/

.idea/
*.iml
*.ipr
*.iws

.settings/
.classpath
.project

# Ignore vscode files
.vscode